$main-padding: 10px;
$main-margin: 10px;

$white: #fff;
$black: #000;

$breakpoints: (
    mobileSmall: (
        'min-width: 460px',
    ),
    mobileMedium: (
        'min-width: 640px',
    ),
    mobileXMedium: (
        'min-width: 800px',
    ),
    mobileLarge: (
        'min-width: 1024px',
    ),
    desktopSmall: (
        'min-width: 1280px',
    ),
    desktopMedium: (
        'min-width: 1360px',
    ),
    desktopLarge: (
        'min-width: 1920px',
    ),
);
